<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <div class="container">
    <a href="#" class="logo">EventApp</a>
    <nav class="shift">
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/customer/">Customers</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
<router-outlet></router-outlet>
</div>