<hr>
<div *ngIf="customer">

  <h3>Details</h3>
  <div class="row">
    <div class="col" [hidden]="updated" style="width: 400px;">
      <form (ngSubmit)="onUpdated()">
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" class="form-control" id="customerName" required [(ngModel)]="customer.customerName"
            name="customerName">
        </div>

        <div class="form-group">
          <label for="name">Email Adress</label>
          <input type="text" class="form-control" id="customerMail" required [(ngModel)]="customer.customerMail"
            ui-number-mask="3" name="customerMail">
        </div>

        <div class="form-group">
          <label for="name">Phone Number</label>
          <input type="text" class="form-control" placeholder="" id="phone" required
            [(ngModel)]="customer.customerPhoneNumber" name="customerPhoneNumber">
        </div>

        <button type="updated" class="btn btn-success" (click)="save()">Replace Data</button>
      </form>
    </div>
    <div class="col">
      <app-event-details></app-event-details>
    </div>
  </div>
  <div [hidden]="!updated">
    <h4>You updated successfully!</h4>
  </div>
</div>